<script setup>
  import { toRefs } from 'vue'
  import { useField } from 'vee-validate'

  import { uniqueId } from 'helpers/utils'

  const props = defineProps({
    modelValue: {
      type: null,
    },
    label: String,
    name: String,
    value: {
      type: [String, Number],
    },
    editable: { type: Boolean, default: true },
  })
  const tagId = uniqueId(props.name)

  // we are using toRefs to create reactive references to `name` and `value` props
  // this is important because vee-validte needs to know if any of these props change
  // https://vee-validate.logaretm.com/v4/guide/composition-api/caveats
  const { name } = toRefs(props)
  const { checked, handleChange } = useField(name, undefined, {
    type: 'checkbox',
    checkedValue: props.value,
  })
</script>
<template>
  <div class="checkbox">
    <label :for="tagId">
      <input
        type="checkbox"
        :id="tagId"
        :checked="checked"
        @change="handleChange(value)"
        :value="value"
        :name="name"
        :disabled="!editable"
      />
      <span>{{ label }}</span>
    </label>
  </div>
</template>
