<td class="col_date">{{{ altdate }}}</td>
<td class="col_text">
	<strong>{{ typelabel }}</strong>
	{{#if description}}
		<br />
		{{ description }}
	{{/if}}
</td>
{{#if is_achat}}
    <td class="col_text"><span class="business-link"></span></td>
{{/if}}
<td class="col_text">{{ start }}</td>
<td class="col_text">{{ end }}</td>
<td class="col_number">{{ km }}&nbsp;km</td>
<td class="col_number">{{{total}}}</td>
{{#edit}}
<td class='col_actions width_three'>
	<ul>
		<li>
			<button class='btn icon only edit' title='Modifier' aria-label='Modifier'><svg><use href="/static/icons/endi.svg#pen"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only duplicate' title='Dupliquer' aria-label='Dupliquer'><svg><use href="/static/icons/endi.svg#copy"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only negative delete' title='Supprimer' aria-label='Supprimer'><svg><use href="/static/icons/endi.svg#trash-alt"></use></svg></button>
		</li>
	</ul>	
</td>
{{/edit}}
