<section id='task_line_form' class="modal_view size_middle">
    <div role="dialog" id="task_line-forms" aria-modal="true" aria-labelledby="task_line-forms_title">
        <form>
            <div class="modal_layout">
                <header>
                    <button
                        type='button'
                        class="icon only unstyled close"
                        title="Fermer cette fenêtre"
                        aria-label="Fermer cette fenêtre"
                        >
                        <svg><use href="/static/icons/endi.svg#times"></use></svg>
                    </button>
                    <h2>{{ popup_title }}</h2>
                </header>
                <div class="modal_content_layout">
                    <div class="modal_content">
                        {{#if deposit_info}}
                        <div class="alert alert-info">
                            <p>
                                Montant HT indiqué dans le devis moins la part d’acompte
                            </p>
                        </div>
                        {{/if}}
                        <div class="table_container">
                            <table class="top_align_table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col_text">Intitulé du produit</th>
                                        <th scope="col" class="col_number unity" title="Prix Unitaire Hors Taxes">
                                        P<span class="screen-reader-text">rix</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
                                        </th>
                                        <th scope="col" class="col_number tva" title="Taux de TVA"><span class="screen-reader-text">Taux de </span>TVA</th>
                                        <th scope="col" class="col_number" title="Prix Toutes Taxes Comprises">T<span class="screen-reader-text">outes </span>T<span class="screen-reader-text">axes </span>C<span class="screen-reader-text">omprises</span></th>
                                    </tr>
                                </thead>
                                <tbody class="quotation_item_title">
                                    <tr>
                                        <td class="col_text description rich_text">
                                            {{{description}}}
                                        </td>
                                        <td class="col_number">
                                            {{{total_ht_to_invoice_label}}}
                                        </td>
                                        <td class="col_number">
                                            {{{tva_to_invoice_label}}}
                                        </td>
                                        <td class="col_number">
                                            {{{total_ttc_to_invoice_label}}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <fieldset class="separate_top content_vertical_padding">
                            <div class="layout flex three_cols">
                                <div class='percent_done'></div>
                                <div class='current_percent required'></div>
                                <div class='percent_left'></div>
                            </div>
                        </fieldset>
                    </div>
                    <footer>
                        <button
                            class='btn btn-primary'
                            type='submit'
                            value='submit'>
                            <svg>
                                <use href="/static/icons/endi.svg#check"></use></svg>
                            Valider
                        </button>
                        <button
                            class='btn'
                            type='reset'
                            value='reset'>
                            Annuler
                        </button>
                    </footer>
                </div>
            </div>
        </form>
    </div>
</section>
