// product catalogue tree view

@media ( min-width: $wideWidth ) {
	body.endi .product_catalogue {
		> div:nth-child(2) {
			border-left: $simpleLine dashed $fadedGrey;
			padding: 0 0 0 $unitPadding;
		}
	}
}
@media ( max-width: $wideWidth ) {
	body.endi .product_catalogue {
		flex-wrap: wrap;
		> div {
			flex: 1 0 100%;
			&:nth-child(2) {
				border-top: $simpleLine dashed $fadedGrey;
				margin-top: ($unitPadding * 2);
				padding: $unitPadding 0 0 0;
				table {
					min-width: 25em;
				}
			}
		}
	}
}
