// main content header

body.endi .main_header {
	background: var(--theme-color);
	color: var(--theme-text-color);
	flex: 0 0 3.5rem;
	position: relative;
	h1 {
		font-size: 1.25rem;
		line-height: 1.125;
		overflow: hidden;
		padding: 0;
		&::first-line {
			font-size: 1.5rem;
			line-height: 1.25;
		}
		.icon {
			background: var(--icon-neutral-color);
			border-radius: .25rem;
			display: inline-block;
			height: 2rem;
			margin-right: .25rem;
			padding: .25rem;
			vertical-align: text-top;
			width: 2rem;
			svg {
				fill: $white;
				height: 1.5rem;
				vertical-align: text-top;
				width: 1.5rem;
			}
			&.valid,
			&.resulted,
			&.paid {
				background: var(--func-positive-color);
			}
			&.invalid {
				background: var(--func-negative-color);
			}		
			&.caution {
				background: var(--func-caution-color);
				svg {
					fill: var(--svg-invert-fill-color);
				}
			}		
			&.wait {
				background: var(--func-neutral-color);
			}		
		}
		small span {
			font-size: .75em;
			font-weight: normal;
		}
	}
	&.positive {
		background: $funcPositive !important;
	}
	&.negative {
		background: $funcNegative !important;
	}
	.header_content {
		align-items: center;
		height: 100%;
		justify-content: space-between;
		max-width: 100%;
		&.layout.flex {
			flex-wrap: nowrap;
		}
		> svg:first-child {
			fill: var(--theme-text-color);
			height: 1.75rem;
			left: -.75rem;
			position: absolute;
			top: .875rem;
			width: 1.75rem;
			z-index: 0;
			&.valid,
			&.resulted,
			&.paid {
				fill: var(--func-positive-color);
			}
			&.invalid {
				fill: var(--func-negative-color);
			}		
			&.caution {
				fill: var(--func-caution-color);
			}
			&.wait {
				fill: var(--func-neutral-color);
			}		
		}
	}
	button.unstyled:not(:disabled):hover, 
	button.unstyled:not(:disabled):focus,
	button.unstyled:not(:disabled):active {
		background: none;
	}
}
@media ( min-width: $desktopWidth ) {
	body.endi .main_header {
		padding: 0 $contentHorPadding;
		.header_content > svg:first-child {
			left: -.5rem;
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .main_header {
		padding: 0 $contentHorPaddingHalf;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .main_header {
		padding: 0 $contentHorPaddingSixth  0 ($contentHorPadding * 1.5);
		svg[class^="theme"] {
			position: static;
			vertical-align: text-bottom;
		}
		h1 {
		}
		.header_content {
			max-width: calc( 100vw - 3.4375rem );
		}
	}
}
body.endi.theme_manage_people .main_header {
	svg.theme_people {
		display: inline-block;
	}
}
body.endi.theme_manage_entity .main_header {
	svg.theme_entity {
		display: inline-block;
	}
}
@media print { // styles used when printing pages
	body.endi .main_header {
		padding: 0;
	}
}